@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="naviagtion-link">
    <ul class="naviagtion-link-list">
        <li><a href="/Member/Index">Member Management</a></li>
        <li><a href="/Order/Index">Order Management</a></li>
        <li><a href="/Product/Index">Product Management</li>
    </ul>
</div>
